/* Page layout */
body {
  font-family: Arial, sans-serif;
  margin: 0.5vw;
  display: flex;
  flex-direction: column;
  min-height: 98vh;
}

main {
  flex-grow: 1;
  margin-top: 80px; /* = navbar height */
}

footer {
  text-align: right;
  background-color: transparent;
}

/* 430px = screen width of iPhone 14 Pro Max */
@media (max-width: 430px) {
  footer {
    max-width: 410px;
  }
}

/* AJAX alert message */
.alert-container {
  position: relative;
  width: 100%;
  text-align: center;
  display: none; /* Hidden by default */
  z-index: 1002;
}

.alert {
  display: inline-block;
  width: auto;
  margin-top: 5px;
  padding: 10px;
  border-radius: 5px;
}

/* 430px = screen width of iPhone 14 Pro Max */
@media (max-width: 430px) {
  .alert-container {
    position: fixed;
  }
}

/* Flask flash message */
.flash-message-container {
  position: absolute;
  width: 100%;
  text-align: center;
  display: none; /* Hidden by default */
  z-index: 1002;
}

.flash-message-success {
  display: inline-block;
  width: auto;
  margin-top: 5px;
  padding: 10px;
  border-radius: 5px;
  color: White;
  background-color: Green;
}

.flash-message-error,
.flash-message-message {
  display: inline-block;
  width: auto;
  margin-top: 5px;
  padding: 10px;
  border-radius: 5px;
  color: White;
  background-color: Red;
}

/* Horizontal navbar */
.navbar {
  position: fixed;
  width: 99%;
  display: flex;
  justify-content: space-between;
  height: 80px;
  padding: 0;
  background: #1e90ff;
  border-radius: 0.5em;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2),
    /* Outer shadow */ inset 0 2px 4px rgba(255, 255, 255, 0.8),
    /* Inner light shadow */ inset 0 -4px 8px rgba(0, 0, 0, 0.5); /* Inner dark shadow */
  z-index: 1000;
}

.navbar-brand {
  display: flex;
  flex-direction: column;
}

/* Container for game logo and name */
.fixed-nav {
  display: flex;
}

/* Game logo */
.logo {
  width: 50px;
  margin: 3px -10px 4px 18px;
  animation: rotateLogo 0.6s ease-out forwards;
}

@keyframes rotateLogo {
  from {
    transform: rotate(-95deg);
  }
  to {
    transform: rotate(-12deg);
  }
}

.logo-line {
  position: relative;
  left: 16.5px;
  margin-top: 0.4px;
}

.draw-logo {
  stroke: Navy;
  stroke-width: 6px;
  fill: none;
  stroke-dasharray: 70; /* Based on polyline length */
  stroke-dashoffset: -70; /* Draw from right to left */
  animation: draw-line 0.5s forwards ease-in-out;
}

@keyframes draw-line {
  to {
    stroke-dashoffset: 0;
  }
}

/* Game name */
/* Font style reference: https://fonts.google.com/?preview.text=Guess%20that%20Drawing&classification=Handwriting */
#game-name {
  width: 320px;
  display: flex;
  align-items: center;
  font: bold 2.1em Sedgwick Ave; /* Other font family options: Rock Salt, Indie Flower, Bangers */
  background: linear-gradient(
          20deg,
          #ffffff,
            /* White */ #e0e0e0,
            /* Light gray */ #a0a0a0,
            /* Darker silver */ #e6f7ff,
            /* Very light blue */ #b3e6ff,
            /* Slightly darker light blue */ #80bfff,
            /* Icy blue */ #4169e1,
            /* RoyalBlue */ #80bfff,
            /* Icy blue */ #b3e6ff,
            /* Slightly darker light blue */ #e6f7ff,
            /* Very light blue */ #a0a0a0,
            /* Darker silver */ #e0e0e0,
            /* Light gray */ #ffffff /* White */
  );
  background-size: 300% 300%; /* Size of the gradient */
  animation: flowingColors 15s ease infinite;
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes flowingColors {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media (max-width: 410px) {
  #game-name {
    display: none;
  }
}

/* Nav links */
.nav-link {
  color: White;
  font-size: 20.5px;
  font-family: "Komika Axis", sans-serif;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80%;
  transition: background-color 0.3s ease;
  border-radius: 0.3em;
  position: relative;
}

.wavy-line {
  position: absolute;
  bottom: 8px;
  width: 100%;
  height: 10px;
  display: none;
}

.draw {
  stroke: Navy;
  stroke-width: 6px;
  fill: none;
  stroke-dasharray: 120; /* Based on polyline length */
  stroke-dashoffset: 120;
  animation: draw-line 0.6s forwards ease-in-out;
}

.horizontal-nav {
  display: flex;
  align-items: center;
  flex-grow: 1; /* Occupy the remaining space after the fixed-nav */
  height: 100%;
}

.main-nav {
  flex-grow: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2vw;
  gap: 0.5vw; /* Spacing between the links */
}

.logout-btn {
  width: 10%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  margin-right: 0.4vw;
}

@media (max-width: 1470px) {
  #game-name {
    width: 285px;
  }

  .main-nav {
    margin-right: 1vw;
    gap: 0;
  }

  .nav-link {
    font-size: 19.5px;
  }
}

@media (max-width: 1350px) {
  .main-nav {
    margin-right: 0.1vw;
  }

  .nav-link {
    font-size: 18.5px;
  }
}

@media (max-width: 1280px) {
  #game-name {
    width: 240px;
    font-size: 1.8em;
  }

  .main-nav {
    margin-right: 0;
  }

  .nav-link {
    font-size: 17.5px;
  }
}

@media (max-width: 1180px) {
  .nav-link {
    font-size: 15.5px;
  }
}

@media (max-width: 1100px) {
  #game-name {
    width: 220px;
    font-size: 1.6em;
  }
}

@media (max-width: 1070px) {
  .nav-link {
    font-size: 13.5px;
  }
}

@media (max-width: 980px) {
  #game-name {
    width: 200px;
    font-size: 1.4em;
  }

  .nav-link {
    font-size: 13px;
  }
}

@media (max-width: 930px) {
  #game-name {
    width: 180px;
    font-size: 1.2em;
  }

  .nav-link {
    font-size: 11.5px;
  }
}

@media (max-width: 830px) {
  .nav-link {
    font-size: 10px;
  }
}

@media (max-width: 767px) {
  #game-name {
    width: 285px;
    font-size: 2.1em;
  }

  .logout-btn {
    display: none;
  }
}

/* Nav link hover effects */
.nav-link:not(.active):hover {
  background: linear-gradient(90deg, White, #afeeee);
  font-family: "Komika Axis", sans-serif;
  font-weight: bold;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  border-radius: 0.3em;
}

.nav-link:not(.active):hover .wavy-line {
  display: block; /* Show the line drawing */
}

.home-link:not(.active):hover {
  color: Green;
}

.gallery-link:not(.active):hover {
  color: Blue;
}

.drawing-link:not(.active):hover {
  color: Orange;
}

.about-link:not(.active):hover {
  color: LightSlateGray;
}

.logout-btn .nav-link:hover,
.sidebar-logout .nav-link:hover {
  color: DeepPink;
  background: linear-gradient(90deg, White, LightSkyBlue, White);
  background-size: 200% 100%;
  background-clip: padding-box;
  animation: shimmer 2.2s infinite linear;
}

@keyframes shimmer {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}

/* Nav link effects for active page */
.navbar .active,
.sidebar .active {
  background-image: url("../images/stroke.png"); /* Source: https://www.pngwing.com/en/free-png-dhrne */
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
}

.page-home .active {
  color: Green !important;
}

.page-gallery .active {
  color: Blue !important;
}

.page-drawing .active {
  color: Orange !important;
}

.page-about .active {
  color: LightSlateGray !important;
}

/* Hamburger Button */
.hamburger {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 23px;
  right: 20px;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='white' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* Sidebar */
.sidebar {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0.5vw;
  right: -250px;
  width: 220px;
  height: 420px;
  background: linear-gradient(to right, #1e90ff, #00bfff);
  padding: 0 20px;
  border-radius: 0.5em;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  transition: right 0.3s ease;
  z-index: 1001;
}

@media (max-height: 430px) {
  .sidebar {
    height: 90%;
  }
}

.sidebar-active {
  right: 0.5vw;
}

.sidebar-close-btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 80px;
  font-size: 48px;
  color: White;
  background: none;
  border: none;
  cursor: pointer;
}

.sidebar-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin: 20px -10px 0;
  overflow-y: auto;
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.sidebar-logout {
  display: flex;
  justify-content: center;
  margin: 15px 0;
}

.sidebar-nav-link {
  font-size: 19.5px;
  display: flex;
  align-items: center;
  height: 46px;
}

/* Toggle between sidebar and horizontal navbar */
/* 768px is a common breakpoint for differentiating between mobile and desktop devices */
@media (min-width: 768px) {
  .hamburger {
    display: none;
  }

  .sidebar {
    display: none;
  }
}

@media (max-width: 767px) {
  .horizontal-nav {
    display: none;
  }

  .hamburger {
    display: block;
  }
}
