<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
.search-bar {
  margin-top: 20px;
  position: fixed;
}

.input-group {
  width: 250px; /* Adjust width as needed */
}
  
.pagination {
  margin-top: 20px;
}
