/* Container for the whole page */
.home-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin: 20px 30px 12px;
}

/* Welcome message */
.welcome-message {
  text-align: center;
  font: bold 42px "Komika Axis", sans-serif;
  margin: 10px 0;
  background: linear-gradient(
    20deg,
    Tomato,
    DarkOrange,
    Gold,
    Green,
    Blue,
    Indigo,
    Violet
  );
  -webkit-background-clip: text; /* For Chrome, Safari, Edge */
  -webkit-text-fill-color: transparent; /* For Chrome, Safari, Edge */
  background-clip: text; /* For Firefox */
  color: transparent; /* For Firefox */
}

/* Main panel */
.panel {
  height: 100%;
}

/* Points summary */
.points-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35%;
  margin-top: 3vh;
}

.points-title {
  font-size: 2.5vw;
  font-weight: bold;
  margin-bottom: 1.5vh;
}

.points-bg {
  margin: 15px 30px;
  border-radius: 10px;
  background-color: AliceBlue;
  z-index: 0;
}

.points {
  display: flex;
  justify-content: center;
  font-size: 2.5vw;
  font-weight: bold;
  padding: 15px 0;
  border: 3px solid Black;
  border-radius: 10px;
  background: linear-gradient(
    20deg,
    White,
    White,
    White,
    Gold,
    DeepSkyBlue,
    DarkBlue,
    MediumPurple,
    Gold,
    White,
    White,
    White
  );
  background-size: 250% 250%; /* Size of the gradient */
  animation: flowingColors 8s ease infinite;
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes flowingColors {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Pie chart */
.pie-container {
  width: 46%;
  height: 20vw;
  padding-top: 2vh;
}

@media (max-width: 770px) {
  .pie-container {
    width: 28%;
  }
}

@media (max-width: 560px) {
  .pie-container {
    display: none;
  }
}

/* Activity Feed */
.feed-container {
  transition: all 0.3s ease;
  height: 65%;
}

.feed-title {
  font-size: 2.5vw;
  font-weight: bold;
  margin: 2vh 0;
}

.tabs {
  display: flex;
  justify-content: flex-end;
  width: 48%;
  border: 2px solid LightGrey;
  border-bottom: none;
  margin-bottom: -2px;
}

.tab {
  flex: 1;
  cursor: pointer;
  padding: 0.8vh;
  border: none;
  transition: background-color 0.3s ease;
  font-size: 1.4vw;
}

.tab.active {
  background-color: white;
  font-weight: bold;
  color: #1e90ff !important;
}

.tab:hover {
  font-weight: bold;
  color: #1e90ff;
}

.feed-table {
  width: 90%;
}

.content {
  padding: 10px;
  background-color: white;
  color: black;
  font-size: 1vw;
  border: 2px solid LightGrey;
}

.table {
  font-size: 1.2vw;
  overflow-x: auto;
}

.table-striped th,
.table-striped td {
  width: 25%; /* Distribute the width equally among all four columns */
}

.feed-table .hidden {
  display: none;
}

/* Leaderboard */
.board-title {
  font-size: 2.5vw;
  font-weight: bold;
  margin-bottom: 1.5vh;
}

.board-table .row {
  border-radius: 5px;
  border: 2px solid LightGrey;
  margin-bottom: 0.6vh;
  height: 6vh;
}

.board-table .row > div {
  display: flex;
  justify-content: center;
}

.rank,
.board-points {
  justify-content: center;
  flex: 1;
  display: flex;
  align-items: center;
  text-align: center;
}

.rank {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 1.8px;
}

.rank-1,
.rank-2,
.rank-3 {
  color: transparent;
}

.rank-1 {
  background-image: url("../images/gold.png");
}

.rank-2 {
  background-image: url("../images/silver.png");
}

.rank-3 {
  background-image: url("../images/bronze.png");
}

.board-username {
  flex: 1;
  display: flex;
  align-items: center;
  text-align: left;
  padding-left: 10px;
}

.board-table .col-md-7 {
  border-left: 1px solid LightGrey;
  border-right: 1px solid LightGrey;
}

@media (max-width: 980px) {
  .board {
    display: none;
  }
}
