<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    {% block styles %}
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/base.css') }}"
    />
    <!-- jQuery library-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <!-- Font styles used in navbar and preambles -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Sedgwick+Ave&display=swap"
    />
    <!-- Reference: https://www.cdnfonts.com/komika-axis.font -->
    <link rel="stylesheet" href="https://fonts.cdnfonts.com/css/komika-axis" />
    {% endblock %}
  </head>

  <!-- Dynamic classes for active page nav link effect -->
  <body
    class="{% if request.path == '/home' %}page-home{% elif request.path == '/gallery' %}page-gallery{% elif request.path == '/drawing' %}page-drawing{% elif request.path == '/about' %}page-about{% endif %}"
  >
    <!-- Horizontal navbar (for screen width >= 768px) -->
    <nav class="navbar navbar-expand-lg">
      <div class="fixed-nav">
        <!-- Logo -->
        <!-- Source: https://www.istockphoto.com/vector/pencil-vector-icon-back-to-school-vector-illustration-gm1072508470-287016128 -->
        <div class="navbar-brand">
          <img
            src="{{ url_for('static', filename='images/logo.png') }}"
            alt="Logo"
            class="logo"
          />
          <!-- Line drawing -->
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 60 10"
            width="60"
            height="7"
            class="logo-line"
          >
            <polyline
              class="draw-logo"
              points="0,6 10,2 20,7 30,2 43,8 50,7 60,5"
              stroke-linecap="round"
            />
          </svg>
        </div>

        <!-- Game name -->
        <span id="game-name">Guess That Drawing</span>
      </div>

      <!-- Nav links for horizontal navbar-->
      <div class="horizontal-nav">
        <div class="main-nav">
          <!-- Assign conditional "active" class to nav link for applying active page effect -->
          <a
            class="nav-link home-link {% if request.path == '/home' %}active{% endif %}"
            href="/home"
            >Home</a
          >
          <a
            class="nav-link gallery-link {% if request.path == '/gallery' %}active{% endif %}"
            href="/gallery"
            >Guessing Gallery</a
          >
          <a
            class="nav-link drawing-link {% if request.path == '/drawing' %}active{% endif %}"
            href="/drawing"
            >Create Drawing</a
          >
          <a
            class="nav-link about-link {% if request.path == '/about' %}active{% endif %}"
            href="/about"
            >About</a
          >
        </div>
      </div>

        <!-- Logout button for horizontal navbar -->
        {% if current_user.is_authenticated %}
        <div class="logout-btn">
          <a class="nav-link" href="/logout">Logout</a>
        </div>
        {% endif %}
      </div>

      <!-- Hamburger / toggle button (for screen width < 768px) -->
      <button id="hamburger-btn" class="hamburger">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>

    <!-- Sidebar (for screen width < 768px) -->
    <aside id="sidebar" class="sidebar">
      <!-- Close button for sidebar -->
      <button id="sidebar-close-btn" class="sidebar-close-btn">&times;</button>

      <!-- Sidebar Content -->
      <div class="sidebar-panel">
        <!-- Nav links for sidebar -->
        <nav class="sidebar-nav">
          <a
            class="sidebar-nav-link nav-link home-link {% if request.path == '/home' %}active{% endif %}"
            href="/home"
            >Home</a
          >
          <a
            class="sidebar-nav-link nav-link gallery-link {% if request.path == '/gallery' %}active{% endif %}"
            href="/gallery"
            >Guessing Gallery</a
          >
          <a
            class="sidebar-nav-link nav-link drawing-link {% if request.path == '/drawing' %}active{% endif %}"
            href="/drawing"
            >Create Drawing</a
          >
          <a
            class="sidebar-nav-link nav-link about-link {% if request.path == '/about' %}active{% endif %}"
            href="/about"
            >About</a
          >
        </nav>

        <!-- Logout button for sidebar -->
        {% if current_user.is_authenticated %}
        <div class="sidebar-logout">
          <a class="sidebar-nav-link nav-link logout" href="/logout">Logout</a>
        </div>
        {% endif %}
      </div>
    </aside>

    <!-- Main content -->
    <main>
      {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %}
      <div class="flash-message-container">
        {% for category, message in messages %}
        <div class="flash-message-{{ category }}">{{ message }}</div>
        {% endfor %}
      </div>
      {% endif %} {% endwith %}

      <!-- AJAX alert message -->
      <div class="alert-container">
        <div class="alert"></div>
      </div>

      <!-- Dynamic content loaded from different html files -->
      {% block content %} {% endblock %}
    </main>

    <!-- Footer -->
    <footer>CITS5505 Agile Web Development, 2024 Sem 1 &copy; UWA</footer>

    <!-- JS file -->
    <script src="{{ url_for('static', filename='js/base.js') }}"></script>
  </body>
</html>
