{% extends 'base.html' %} {% block title %} Guess Drawing {% endblock %} {%
block styles %} {{ super() }}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/timer.css') }}"
/>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/guess.css') }}"
/>
{% endblock %} {% block content %}

<div class="container">
  {# IMAGE SHOWING DRAWING #}
  <div class="image-container">
    <img
      class="guess-image"
      src="{{ image.drawing_data }}"
      alt="Rendered Image"
      data-drawing-id="{{ image.id }}"
    />
  </div>

  {# GUESS SECTION #}
  <div class="guess-container">
    {% if current_user_guess|length == 0 %}
    <div id="timer">
      <h4>Time remaining:</h4>
      {% include 'timer.html' %}
    </div>
    {% endif %}

    <div class="chat-box">
      <div class="header">TAKE A GUESS</div>
      <div class="chat-room">
        {% for guess in current_user_guess %}
        <div class="message message-right">
          <div class="bubble bubble-dark">{{ guess.guessed_word }}</div>
        </div>
        <div class="message message-left">
          <div
            class="bubble {{ 'bubble-light' if  guess.is_correct else 'bubble-red' }}"
          >
            {% if guess.is_correct %} You guessed correctly {% else %} Oops.
            Wrong guess or guessed already. {% endif %}
          </div>
        </div>
        {% endfor %}
      </div>

      {% if current_user_guess|length == 0 %}
      <div class="type-area">
        <div class="input-wrapper">
          <input
            type="text"
            id="inputText"
            placeholder="Type your guess here..."
          />
        </div>
        <button class="button-send">Guess</button>
      </div>
      {% endif %}
    </div>
  </div>
</div>

<script
  type="module"
  src="{{ url_for('static', filename='js/timer.js') }}"
></script>
<script
  type="module"
  src="{{ url_for('static', filename='js/guess.js') }}"
></script>

{% endblock %}
