{% extends "base.html" %} {% block title %} Log In / Sign Up {% endblock %} {%
block styles %} {{ super() }}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/login.css') }}"
/>
{% endblock %} {% block content %}
<div>
  <!-- Log In section -->
  <form method="post">
    {{ login_form.csrf_token }}
    <h1>Log In</h1>
    <p>
      <!-- Username input field -->
      <label for="username">Username:</label>
      {{ login_form.username(size=20, class_='login-signup-input',
      placeholder='Enter your username...', required=True) }}<br />
      {% for error in login_form.username.errors %}
      <span class="error-msg">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      <!-- Password input field -->
      <label for="password">Password:</label>
      {{ login_form.password(size=20, class_='login-signup-input',
      placeholder='Enter your password...', required=True) }}<br />
      {% for error in login_form.password.errors %}
      <span class="error-msg">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>{{ login_form.remember_me() }} {{ login_form.remember_me.label }}</p>
    <p>
      <input
        type="submit"
        name="action"
        value="Login"
        class="login-signup-btn"
      />
    </p>
  </form>
</div>
<div>
  <!-- Sign Up section -->
  <form method="post">
    {{ signup_form.csrf_token }}
    <h1>Sign Up</h1>
    <p>
      <!-- Username input field -->
      <label for="username">Username:</label>
      {{ signup_form.username(size=20, class_='login-signup-input',
      placeholder='Choose a username...', required=True) }}<br />
      {% for error in signup_form.username.errors %}
      <span class="error-msg">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      <!-- Email input field -->
      <label for="email">Email:</label>
      {{ signup_form.email(size=20, class_='login-signup-input',
      placeholder='Enter your email...', required=True) }}<br />
      {% for error in signup_form.email.errors %}
      <span class="error-msg">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      <!-- Password input field -->
      <label for="password">Password:</label>
      {{ signup_form.password(size=20, class_='login-signup-input',
      placeholder='Create a password...', required=True) }}<br />
      {% for error in signup_form.password.errors %}
      <span class="error-msg">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      <!-- Confirm password field -->
      <label for="confirm_password">Confirm Password:</label>
      {{ signup_form.confirm_password(size=20, class_='login-signup-input',
      placeholder='Confirm your password...', required=True) }}<br />
      {% for error in signup_form.confirm_password.errors %}
      <span class="error-msg">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      <input
        type="submit"
        name="action"
        value="Sign Up"
        class="login-signup-btn"
      />
    </p>
  </form>
</div>
{% endblock %}
